@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Science+Gothic:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* .loginPage * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.loginPage {
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    overflow: hidden;
}

.loginInfo {
    min-height: 100vh;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: powderblue; */

}


.signupInfo {
    min-height: 100vh;
    min-width: 50%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSpace,
.signupSpace {
    min-height: auto;
    min-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: red; */
    /* transform: translateX(-500px); */

}

.loginPageShow {
    animation: .3s linear forwards loginPageShow;
}

.loginPageHide {
    animation: .3s linear forwards loginPageHide;
}

.signupShow {
    animation: .3s linear forwards signupPageShow;
}

.signupHide {
    animation: .3s linear forwards signupHide;
}


.signupInfo input,
.loginInfo input {
    height: 30px;
    width: 430px;
    margin-top: 2rem;
    padding-block: 1.8rem;
    padding-inline: 1.2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(248, 245, 245);
    font-family: "Lato", sans-serif;
}

.signupInfo input:active,
.loginInfo input:active,
.signupInfo input:focus,
.loginInfo input:focus {
    border: 2px solid rgb(1, 1, 139);
    outline: none;
}

.emailDiv,
.passwordDiv,
.userNameDiv {
    position: relative;
}

.emailDiv label,
.passwordDiv label,
.userNameDiv label {
    position: absolute;
    top: 30%;
    left: 5%;
    font-family: "Lato", sans-serif;
    color: grey;
}

.emailDiv input:focus+label,
.passwordDiv input:focus+label,
.userNameDiv input:focus+label {
    font-size: .8rem;
    transform: translateY(-22px);
    transition: .2s linear all;
    background-color: white;
    padding-inline: 5px;
}

.FaEye,
.FaEyeSlash {
    position: absolute;
    top: 35%;
    right: 6%;
    font-size: 1.2rem;
    color: grey;
    cursor: pointer;
}

.forgetPassword {
    margin-top: 1rem;
    text-align: end;
    color: rgb(68, 68, 68);
}

.loginButton {
    width: 100%;
    margin-top: 1rem;
    height: auto;
    padding: .8rem;
    font-size: 1.1rem;
    background-color: #47029d;
    border-radius: 5px;
    color: whitesmoke;
    border: 1px solid white;
    cursor: pointer;
}

.oAuthLogin {
    width: 100%;
    margin-top: 1rem;
}

.oAuthButton {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
}

.googleButton,
.facebookButton {
    font-size: 1.1rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: .8rem;
    border-radius: 4px;
    gap: 1rem;
    flex-basis: 50%;
    color: rgb(40, 40, 40);
    font: inherit;
    font-weight: bold;
    border: 1px solid grey;
    cursor: pointer;
}

.oAuthLogin p::before,
.oAuthLogin p::after {
    content: "";
    display: inline-block;
    width: 120px;
    height: .5px;
    background-color: black;
    transform: translate();
    margin-inline: 1rem;
    transform: translateY(-3px);
}

/* --------  Signup and Signin Desc  ------ */
.signDesc {
    min-height: 100vh;
    min-width: 40%;
    background-color: #1e033f;
    box-shadow: 0px 0px 10px 2px #1e033f;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    flex-direction: column;
    color: whitesmoke;
    font-family: "Play", sans-serif;
    font-weight: 400;
    /* font-style: normal; */


}

.loginDesc {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    transition: .5s linear all;
    font-family: "Play", sans-serif;
    font-weight: 400;
}

.signDesc button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin-top: 1rem;
    padding-inline: 3rem;
    padding-block: 1rem;
    font-weight: 500;
    box-shadow: 2px 2px 8px 0px white;
    font: inherit;
}

.signupDesc {
    transform: translateX(-250%);
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    transition: .5s linear all;
}

.signupModule,
.signinModule {
    width: 80%;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    animation: signupAndSigninModule 1s .1s linear forwards;
}


/*  ----- Animation   -----*/
@keyframes loginPageHide {
    from {
        transform: translateX(60px);
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(150px);
    }
}

@keyframes loginPageShow {
    from {
        transform: translateX(150px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(60px);
    }
}

@keyframes signupHide {
    from {
        transform: translateX(-60px);
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translateX(-150px);
    }
}

@keyframes signupPageShow {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(-60px);
    }
}

@keyframes signupAndSigninModule {
    from {
        opacity: 0;
        filter: blur(3px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}


/** -------------  Login Notification -------------------**/
.registerNotification {
    font-size: .8rem;
    position: absolute;
    top: 2%;
    right: 2%;
    box-shadow: 1px 1px 5px 0px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-family: "Play", sans-serif;
}

.loginNotification {
    font-size: .8rem;
    position: absolute;
    top: 2%;
    left: 2%;
    box-shadow: 1px 1px 5px 0px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-family: "Play", sans-serif;
}

.loginMsgLoading {
    height: 2px;
    width: 100%;
    background-color: rgb(10, 191, 10);
    animation: loginMsgLoading 1s linear;
}

.notifyMsg {
    display: flex;
    gap: 2rem;
}

@keyframes loginMsgLoading {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}